# Configurações do MLflow
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=ecommerce-purchase-propensity

# Configurações do modelo
MODEL_NAME=purchase-propensity-classifier
RANDOM_STATE=42
TEST_SIZE=0.2

# Configurações de dados
DATA_RAW_PATH=data/raw/online_shoppers.csv
DATA_PROCESSED_PATH=data/processed/dataset_processed.csv